.cruises {
  padding: 62px 0 120px;

  @media (max-width: $max-tablet) {
    padding: 91px 0 100px;
  }

  @media (max-width: $max-mobile) {
    padding: 58px 0 65px;
  }
}

.cruises__container {
  padding: 0 35px;

  @media (max-width: $max-tablet) {
    padding: 0 60px;
  }

  @media (max-width: $max-mobile) {
    padding: 0 25px;
  }
}

.cruises__container h2 {
  margin-bottom: 49px;

  text-align: center;

  @media (max-width: $max-tablet) {
    margin-bottom: 51px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 31px;
  }
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (max-width: $max-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $max-mobile) {
    grid-template-columns: 1fr;
  }
}

.cruises__item {
  position: relative;

  width: 100%;
  // display: grid;
  // grid-template-columns: 1fr;
  max-width: 400px;
  margin: 0 auto;
}

.cruises__img {
  position: relative;
  z-index: 1;

  width: 100%;
}

.cruises__img img {
  display: block;
  width: 100%;
  height: auto;

  @media (max-width: $max-tablet) {
    aspect-ratio: 309/386;
  }

  @media (max-width: $max-mobile) {
    aspect-ratio: 270/386;
  }
}

.cruises__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  padding: 28px 25px 35px;

  color: #d8d8d9;

  background-color: #011c40;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  opacity: 0;

  @media (max-width: $max-tablet) {
    padding: 30px 35px 34px;
  }

  @media (max-width: $max-mobile) {
    padding: 30px 25px 34px;
  }
}

.cruises__item h3 {
  position: absolute;
  right: 30px;
  bottom: 23px;
  left: 30px;
  z-index: 2;

  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;

  @media (max-width: $max-tablet) {
    right: 35px;
    bottom: 27px;
    left: 35px;
  }

  @media (max-width: $max-mobile) {
    right: 25px;
    bottom: 17px;
    left: 25px;
  }
}

.cruises__content h3 {
  position: static;
  z-index: 0;
}

.cruises__description {
  height: 236px;
  margin-top: 13px;
  margin-bottom: 5px;
  overflow: auto;

  font-size: 14px;
  line-height: 20px;

  scrollbar-color: #ffffff #808080;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #808080;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20px;
  }
}

.cruises__description dt {
  font-weight: 500;
  color: #f9fbfd;
}

.cruises__description dd {
  margin: 0 0 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cruises__button {
  margin-top: auto;
}

.cruises__item:hover .cruises__content,
.cruises__item:focus-within .cruises__content {
  z-index: 3;

  opacity: 1;
}

.cruises__item:hover .cruises__img,
.cruises__item:focus-within .cruises__img {
  z-index: -1;

  opacity: 0;
}

// .cruises__item:hover h3,
// .cruises__item:focus-within h3 {
//   position: static;
// }
